<div class="row">
    <div class="col-md-2">
        <div class="form-group">
            <input type="number" name="ContactDdd"
                class="form-control" placeholder="DDD">
        </div>
    </div>
    <div class="col">
        <div class="form-group">
            <input type="number" name="ContactNumber"
                class="form-control" placeholder="Telefone">
        </div>
    </div>
    <div class="col-md-2">
        <div class="form-group">
            <button class="btn btn-success form-control" (click)="addContact(contact)">Adicionar</button>
        </div>
    </div>
</div>