<div class="row">
    <div class="col-4">
        <input class="form-control" type="text" placeholder="Nome" [(ngModel)]="this.searchName">
    </div>
    <div class="col-4">
        <input class="form-control"  type="number" placeholder="CPF" [(ngModel)]="this.searchCpf">
    </div>
    <div class="col-2">
        <button class="btn btn-info btn-block" (click)="searchPerson()">Pesquisar</button>
    </div>
    <div class="col-2">
        <button (click)="addPerson()" class="btn btn-success btn-block">Novo</button>
    </div>
</div>
